.sidebar {
  flex: 0.2;
  padding-left: 20px;
  /*position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;*/
}
.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
}
